<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <connectionStrings>
    <!--local-->
    <add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/POCOS.EntityProtell.csdl|res://*/POCOS.EntityProtell.ssdl|res://*/POCOS.EntityProtell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qaDevinmr3.db.11067432.hostedresource.com;initial catalog=qaDevinmr3;user id=qaDevinmr3;password=Inmeta2013!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />    
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="153600" executionTimeout="900" />
    <compilation debug="true" targetFramework="4.0" />
    <pages validateRequest="false" />
    <identity impersonate="false" />
    <authentication mode="None" />
    <authorization>
      <!--<allow users="?" />-->
      <allow users="?"/> 
    </authorization>
    <customErrors mode="Off" defaultRedirect="GenericError.htm">
    </customErrors>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="157286400" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />   
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
  <system.serviceModel>
    <client />
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="AuthBehavior">
          <webHttp />
        </behavior>
        <behavior name="RestBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="AuthBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>                  
      <service behaviorConfiguration="AuthBehavior" name="Protell.Service.Services.Download">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="Protell.Service.Services.IDownload" />
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="AuthBehavior" bindingConfiguration="webhttpbiding" contract="Protell.Service.Services.IDownload" />
      </service>      
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webhttpbiding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
